.container{
    border: 5px solid black;
}

.row{
    border: 3px black;
}

.orange{
    background: orange;
}

.pink{
    background: pink;
}
.green{
    color: green;
}

.white{
    background: white;
}

.blue{
    background: rgb(8, 7, 53);
}

.bg-color1{
    background: rgb(247, 236, 236);
}

.box1 {
  width: 600px;
  height: 600px;
  padding: 0px;
  border: 1px ;
  
}
.box2 {
  width: 200px;
  height: 70px;
  left: 5%;
  padding: 1;
  border-radius: 7%;
   background: rgb(9, 27, 87);
   bottom: 1%;
   top:10%
  
}

.orn{
    color: rgb(219, 111, 9);

}

.vl{
border-left: 3px solid rgb(219, 111, 9);
  height: 70px;
  position: relative;
  top: 100;
  bottom :1;
}

.box3 {
  width: 230px;
  height: 190px;
  padding: 1;
  border: 1px ;
  border-radius: 5%;
background: rgb(247, 236, 236);
  
}

.box4{
  width: 230px;
  height: 90px;
  background: rgb(247, 236, 236);
  border-radius: 5%;
}

.border5{
    border-radius: 1%;
}

.design123 {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}